# Backend
backend/node_modules
backend/npm-debug.log
backend/.env.local

# Frontend
frontend/node_modules
frontend/build
frontend/.env.local
frontend/.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.env
